@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

:root {
  --main-color: white;
  --secondary-color: black;
}

html, body {
  background-color: var(--secondary-color);
}


